body {
    font-family: "Roboto";
}

.grid-box {
    width: auto;
    height: auto;
    border-style: solid;
    flex: 1;
}

.grid-row {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
}

#grid {
    display: flex;
    gap: 5px;
    height: 500px;
    width: 960px;
}