

body {
    font-family: "Roboto";
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #F4E0B9;
}

.grid-box {
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 0.8px;
    flex: 1;
    background-color: white;
    border-color: #7D7463;
}

.grid-row {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0px;
}

#grid {
    display: flex;
    gap: 0px;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-width: 2.8px;
    border-color: #7D7463;
    padding: 0;
}


#newGrid {
    width: 70px;
    height: 40px;
}
#reset {
    width: 70px;
    height: 40px;
}


#button-list {
    display: flex;
    gap: 10px;
    
}

#header {
    margin-top: 40px;
    font-family: 'Rubik Mono One';
    font-size: 75px;
    color: #FE0000;
}
