body {
    font-family: "Roboto";
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #4E6E81;
}

.grid-box {
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 0.8px;
    flex: 1;
    background-color: white;
    border-color: #2E3840;
}

.grid-row {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0px;
}

#grid {
    display: flex;
    gap: 0px;
    width: 400px;
    height: 400px;
    border-style: solid;
    border-width: 2.8px;
    border-color: #2E3840;
    padding: 0;
}


#header {
    margin-top: 5px;
    font-family: 'Rubik Mono One';
    font-size: 60px;
    color: #F9DBBB;
}

#etchASketch {
    display: flex;
    gap: 20px;
    width: 950px;
    align-items: center;
    flex-direction: column;
    background-color: #FE0000;
    border-radius: 120px;
    padding: 20px;
    box-shadow: 10px 10px #2E3840;
}


#button-list {
    width: 800px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    
}


button {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: white;
    border-color: #2E3840;
    box-shadow: 2px 2px #2e38404d;
}

button:hover {
    background-color: #F9DBBB;
}

.corner {
    transform: scale(1.5);
    translate: 0 -35px;
}